{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
	<h1>Bienvenido a Guata</h1>
	<h2>¿Que es Guata?</h2>
	<p>Guata en Guarani significa "Viaje", pero esto no resume en absoluto el objetivo de nuestro producto. Guata es un aglomerados de productos y experiencias para crear recuerdos inolvidables con la menjor compania.</p>
	<h2>¿Que podes encontrar en Guata?</h2>
	<p>Desde aqui podras comprar pasajes, pagar transporte urbano por adelantado, conseguir descuentos en restaurantes y bares, comprar entradas a espectaculos, pero lo mejor y que nos diferencia, es que con todo esto, podras armar tus "paquetes de experiencias".</p>
{% endblock content %}